body{margin:0px!important; padding:0px!important; overflow-x:hidden;}
@font-face {
			font-family: 'HBK';
			src: url("../helv/HelveticaNeueLT-BLACK.otf");
		}
		@font-face {
			font-family: 'HR';
			src: url("../helv/HelveticaNeueLTStd-ROMAN.otf");
		}
		@font-face {
			font-family: 'HB';
			src: url("../helv/HelveticaNeueLTStd-BOLD.otf");}
/*css home pages*/

.video-back{background-image: url(../images/banner.jpg); position: relative;
    background-repeat: no-repeat;
    background-size: cover;}
.video-back:before{position: absolute!important; content:""!important; top:0px; bottom:0px; right:0px;left:0px;
background-color: rgba(255, 255, 255, 0.79);} 
.padd{padding-top:56px;}
.text-slder .slick-prev{display:none!important;}
.text-slder .slick-next{display:none!important;}
.text-slder.slick-initialized .slick-slide:focus{outline:none!important;}
.text-slder.slick-initialized .slick-slide{height:215px!important;}
#myModal .modal-content{margin-top:122px!important;}
.top-nav .nav{padding-top:20px;}
.affix{width:100%; top:0px; background-color:#fff;z-index: 99999999;     padding: 20px 40px;}
.logo{margin-left: 17px; padding:0px!important;}
.affix .logo{padding:0px!important;}
.logo:hover{background-color:transparent!important;}
.top-nav .nav li a{color:#000; text-transform: capitalize; padding: 10px 15px!important; font-size: 18px;
   border: 2px solid transparent; font-family:'HBK','Arial','sans-serif';}
 .top-nav .nav li a:hover{border:2px solid#e75c00; background-color: transparent; padding: 10px 15px!important;
    font-size: 18px;}

     .top-nav .nav li a:focus{border:2px solid#e75c00; background-color: transparent; padding: 10px 15px!important;
    font-size: 18px;}


     .top-nav .nav li a:active{border:2px solid#e75c00; background-color: transparent; padding: 10px 15px!important;
    font-size: 18px;}
      .top-nav .nav li{margin-right: 20px;}
  .main-row61{display:none!important;}
.main-row61 .slick-initialized .slick-slide{height:500px!important;}
.button9 .btn-respo{background-color:#e75c01;      font-size: 20px;
    color: #fff;
    border-radius: 0px;     border-radius: 0px;
    padding: 10px 20px;}
    .button9 .btn-respo:hover{color:#fff;}
    .button9 .btn-respo:focus{color:#fff;}
  .button9 {background-color:#313131;    padding-top: 15px;
    padding-bottom: 19px; border-top:2px solid #fff;   
    font-family: 'HBK','Arial','sans-serif';}
.button9{text-align:center;     display: none;}
.multipal-img img{width:100%;}
.multipal-img{display:none;}
 .top-nav .nav .mar-right{margin-right: 0px;}
 .text h1{font-size: 180px;
    font-weight: 800;
    line-height: 156px;
    text-transform: uppercase; font-family: 'HBK','Arial','sans-serif'!important;color:#1a1a1a;}
  .text h3{    font-size:41px;
    font-weight: 600;
   font-family: 'HBK','Arial','sans-serif'!important;}
 .bottom-text{padding-top: 40px;}
 .text .btn{border:2px solid #000;     border-radius: 0px;   
   color: #000; margin-top: 20px; font-size: 17px;
  font-weight:600;    padding: 10px 35px;     font-family: 'HBK','Arial','sans-serif';}
  .text .btn:hover{border:2px solid #000;     border-radius: 0px; color: #000;}
  .pages-change{text-align: center;}
   .pages-change ul{padding: 0px; list-style: none;}
   .pages-change ul li a{font-size: 50px; color:#939393;}
   .pages-change ul li a:hover{font-size: 50px; color:#2f2f2f;}
    .pages-change ul li a i{line-height:0px;}
.bottom{padding-top:10px; padding-bottom:10px; color: #fff;}
.bottom p{font-size: 16px;      line-height: 20px;
font-family: 'HBK','Arial','sans-serif'; }
.close1{text-align: right;     padding-top: 18px;}
.bottom p a{color:#e75c01;  text-decoration: underline;}


.button{padding-top: 20px;}
.button .btn-ornge{    text-transform: uppercase;
    font-size: 18px!important;
    font-weight: 600;  font-style: italic; border: 2px solid#e75c01; color:#e75c01;     background: transparent;
    border-radius: 0px;}
.button .btn-ornge:hover{text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;  font-style: italic; border: 2px solid#e75c01; color:#e75c01;     background: transparent;
    border-radius: 0px;}
    .button .btn-ornge:focus{    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;  font-style: italic; border: 2px solid#e75c01; color:#e75c01;     background: transparent;
    border-radius: 0px;}

.padd1{padding-top: 90px; padding-bottom: 80px;}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 93%;
   font-size: 30px;

  padding:0px;
 height: 37px;
  border: none;
  outline: none;
  color: #000;
  border-bottom: 1px solid #000;
}

.searchTerm:focus{
  color:#2b2b2b;
}

.searchButton {
  position: absolute;  
  right: 27px;
  width: 40px;
  height: 36px;
  border: 1px solid #e65d00;
  background: #e65d00;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width:97%;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.responsive-block1{display:none;}

.padd2{padding-top: 60px; padding-bottom: 80px;}

.slick-initialized .slick-slide{text-align: center!important;}
.slick-slide{height:300px!important;}
.slider .slick-slide img{display: inline-block;}
.slider1 .slick-slide img{display: inline-block;}
.slider2 .slick-slide img{display: inline-block;}
.slick-dots{display: none!important;}
.sliderhead{text-align: center;     margin-top: 30px;}
.slick-dotted.slick-slider{margin-bottom: 0px!important;}
.sliderhead h1{margin-top:0px; font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;}
    .sliderhead p{font-family: 'HR','Arial','sans-serif'!important;     text-transform: capitalize;
    font-size: 18px;}
    .sliderhead .main-ul{padding:0px;     margin-top: 20px;
        text-align: center; list-style: none;}
     .sliderhead .main-ul li{display:inline-block;     margin-left: 20px;}
.sliderhead .main-ul a{border: 1px solid#000; padding: 8px 9px; font-weight: 600;
    color: #000;
    text-transform: uppercase;}
.sliderhead .main-ul li p{margin-top: 13px;}
.sliderhead .main-ul a:hover{text-decoration: none;}

.sliderhead ul{list-style: none; text-align: left;}
.sliderhead ul .fa-phone{background-color:#131313;        padding: 6px 10px 6px 10px;    color: #fff;}
.sliderhead ul .fa-whatsapp{background-color:#131313;            padding: 6px 9px 6px 10px;    color: #fff;}
.sliderhead ul .fa-envelope{background-color:#131313;          padding: 6px 8px 6px 9px;     color: #fff;}
.sliderhead ul li{margin-bottom: 5px;}
.sliderhead ul li a{text-decoration: none; color: #131313;     font-weight: 600;}
.sliderhead ul li a span{ color:#e75c01;     font-weight: 600;}
.btn-btn1{background-color:#e65d00; color: #fff; font-size: 15px!important; 
	font-weight: 600!important;border-radius: 0px!important;  padding:8px 20px!important;     font-family: 'HBK','Arial','sans-serif';}
.btn-btn1:hover{color:#fff!important;}
.btn-btn1:focus{color:#fff!important;}
.pagination1{text-align: center;     border-top: 2px solid #cccc;
    margin-top: 100px;     width: 64%;
    width: 60%; 
     margin-right: auto;
    margin-left: auto;}
.pagination1 ul{padding: 0px; list-style: none;     padding-top: 40px;}
.pagination1 ul li{display: inline-block; margin-left: 10px;}
.pagination1 ul li a{border: 4px solid #acacac;        padding: 3px 9px;
    font-size: 20px;
    font-weight: 600;
    color: #acacac;}
    .pagination1 ul li a:hover{text-decoration: none;}
   .button-box{margin-top: 25px;}
  .text-slder{text-align: center;}
  .testi{background-color:#1a1a1a; padding-bottom:0px;}
  .text-slder h3{color: #fff;     font-size: 30px;}
  .test-name{padding-top: 50px; color: #fff;}
    .test-name p{font-weight: 600;     margin-bottom: 0px;}
    .test-name h4{    text-transform: uppercase;
    font-weight: 600; margin-top:2px;     margin-bottom: 2px;}
  .test-name i{color:#ffc800;}

.add img{width:100%; height: 220px;}
.img-text img{ width: 100%; }
.img-text{text-align: center;}
.img-text h4{font-size: 30px; font-weight: 600;     padding-top: 20px; padding-bottom:5px;}
.img-text p{    font-size: 16px; font-weight: 600;     padding-bottom: 20px;}
.img-text p span{color:#e75c00;}
.btn-btn2{border: 4px solid#e75c01;border-radius: 0px;     color: #e75c01; 
	background-color: transparent;font-size: 20px;font-weight: 600;
    padding:8px 30px;     font-family: 'HBK','Arial','sans-serif';text-transform:uppercase;}
  .main-bor{position: relative; }
  .main-bor:before{ content:"";position: absolute; bottom:0px; border-bottom: 4px solid#e75c01; 
    width: 70%;}
.btn-border3{ text-align: center; padding-top: 100px;}
.acss-button{text-align: center;     padding-top: 71px;
    padding-bottom: 80px;}
.acss-button .btn-btn3{background-color: #e75c01; color:#fff; 
     border-radius: 0px!important;      font-weight: 600!important;
    font-size: 18px;    font-family: 'HBK','Arial','sans-serif'; padding:8px 30px!important;}
.btn-btn3:hover{color: #fff!important;}
.btn-btn3:focus{color: #fff!important;}
.top-head{text-align: center;}
.top-head h2{text-transform: uppercase;     font-weight: 600;
    font-size: 48px;     color: #fff;     padding-bottom:20px; font-family: 'HBK','Arial','sans-serif'!important;}
.bg-color1{background-color:#01b0ab; }
.top-head p{color: #fff;    padding-bottom: 30px;    font-size: 20px; font-family:'HR','Arial','sans-serif';}
.btn-bor3{background-color:transparent!important; border:4px solid #fff!important;   
  border-radius: 0px!important;
    color: #fff;
    padding: 8px 20px!important;
    font-size: 18px!important;
    font-weight: 600!important;}
.btn-bor3:hover{color:#fff!important;}
.btn-bor3:focus{color:#fff!important; }
.one{text-align: right;     margin-top: 11px;}
.one a{border: 4px solid #fff;     font-size: 25px;
    font-weight: 600;    padding: 4px 12px; color: #fff;}
.one a:hover{color:#fff!important; text-decoration: none;}
.one a:focus{color:#fff!important; }
.one-text p{color: #fff;     font-family:'HR','Arial','sans-serif'; font-size:20px;}
.main-one-bottom{margin-top: 50px;}
.main-space{margin-bottom:20px;}
.slider-div-img img{width: 100%;}
.slider-div-img .slick-prev {display: none!important;}
.slider-div-img .slick-next{display: none!important;}
.slider-div-img .slick-slide{height:134px!important;}
.img-icon{position: relative;}
.icon{position: absolute; width: 100%; bottom: 8px;     text-align: left;     padding-left: 9px;}
.icon a{color:#1a1a1a; font-weight: 600!important;}
.icon a:hover{color:#1a1a1a;}
.icon-flot{float: right; padding-right: 10px;}
.footer{background-color:#313131;}
.footer-haed ul{    padding: 0px;
    list-style: none;
    margin-bottom: 35px;
    margin-top: 26px;
}
.footer-haed ul li a{color:#fff;     text-transform: capitalize;
    font-size:15px;font-family: 'HR','Arial','sans-serif';}
 .footer-haed ul li a:hover{color:#e75c00;text-decoration:none; transition: 0.4s;}
.footer-haed ul li{line-height:30px;}
.footer-haed h3{color:#e85b01;  font-size:28px;     font-family: 'HB','Arial','sans-serif';}
.footer-haed p{color:#fff;     font-size: 15px;     margin-top: 14px;}
.list-icon li{display: inline-block; margin-left: 10px;}
.list-icon li a{  font-size: 20px!important;  border: 2px solid transparent;     padding: 6px 8px; color:#e75c00!important;}
.list-icon li a:hover{    border: 2px solid #e85b01;     padding: 6px 8px; transition: 0.4s;}
.list-icon .active{margin-left: 0px!important;}
.footer-haed input{    width: 84%;
    margin-bottom: 20px;
    padding: 9px 20px; background-color: transparent; border:4px solid #fff; color:#fff!important;}
.btn-form{background-color: transparent; border:4px solid #e75c00!important; color:#e75c00; 
	font-size:16px!important;     padding: 5px 35px!important;
    border-radius: 0px!important; font-weight: 600!important;}
.btn-form:hover{color: #e75c00!important;}
.btn-form:focus{color: #e75c00!important;}

/*end of home pages*/


/*Metodologia css*/

.bg-two{background-image: url(../images/banner1.jpg);     padding-top: 0px;
    background-repeat: no-repeat;
    background-size: cover; position: relative;}
.bg-two .navbar{background-color:#fff;     padding-top: 37px;
    padding-bottom: 44px}

.bg-two:before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.59);}
.over-text h1{color: rgba(191, 78, 13, 0.76);}
.meto-h2{text-align: center;}
.meto-h2 h2{color:#000;  font-size: 57px;font-weight: 600;     font-family: 'HBK','Arial','sans-serif'!important;}
.meto-h2 p{font-size: 23px;     padding-top: 35px;
    padding-bottom: 54px;     font-family: 'HR','Arial','sans-serif'!important;}
.meto-img img{width:100%;}
.met-one .one a{border: 4px solid #202020;
    font-size: 25px;
    font-weight: 600;
    padding: 4px 12px;
    color: #202020;}

 .met-one .one a:hover{color:#202020!important;text-decoration:none;}
 .met-one .one a:focus{color:#202020!important;text-decoration:none;}
 .met-one  .one-text p{color:#202020; margin-top:5px;}
 .met-one .main-space{margin-bottom: 40px;}
.modal-video{text-align: center;     margin-top: 50px;}
.modal-video .btn{    border: 2px solid#000;
    border-radius: 0px;     padding: 10px 41px; color:#000; font-size: 23px; font-weight: 600;}
 .modal-video .btn i{font-size:25px;}
.img4 img{width:100%;}
.content{text-align: center;     margin-top: 60px;}
.content h2{font-weight:600; font-size:47px; font-family: 'HBK','Arial','sans-serif'!important;}
.content p{font-size:23px;     margin-top: 40px;
    margin-bottom: 45px;    font-family: 'HR','Arial','sans-serif'!important;}
.content .btn-orngre{background-color:#e75c01;; color:#fff; font-size:23px; border-radius:0px;     font-weight: 800;
    padding: 8px 30px; }
.content .btn-orngre:hover{color:#fff;}
.content1{margin-top: 110px;}
.content1 a{font-size: 47px; 
    line-height: 53px; color:#e75c01;;   
    font-weight: 600;     text-transform: uppercase; font-family: 'HBK','Arial','sans-serif'!important;}
 .content1 a:hover{text-decoration: none; color:#ca5c08; }
  .content1 a:focus{text-decoration: none; color:#ca5c08; }
.content1 p{margin-bottom:100px;}
.img-no-space img{width: 100%;}
.col-right{padding-right:0px!important}
.col-left{padding-left:0px!important}
.img-no-space{text-align: center;}
.img-no-space{padding: 399px 0px;
    background-repeat: no-repeat;
    background-size: cover;}
.img-no-space h1{color:#fff;     font-weight: 600;
    font-size: 76px; font-family: 'HBK','Arial','sans-serif'!important;}


.img-no-space1{    padding-top: 100px;
    padding-bottom: 612px;
    background-repeat: no-repeat;
    background-size: cover;}

    .img-no-space2 h1{color:#fff;     font-weight: 600;
    font-size: 76px;     text-align: center;}


.img-no-space2{padding: 356px 0px;
    background-repeat: no-repeat;
    background-size: cover;}

.img-no-space1 h1{color:#000;     font-weight: 600;
    font-size: 76px; text-align: center;}

 .bottom-text4{text-align:center;}
 .bottom-text4 p{font-size: 23px;    font-family: 'HR','Arial','sans-serif'!important;}
.youtube-video{padding-top:0px; padding-bottom:20px;}
.video{text-align: center; padding-top:30px; background-color: #343434;margin-top: 60px;}
.text-SEGURANÇA{text-align: center; margin-top:60px;}
.text-SEGURANÇA h2{font-size:47px; font-weight:600;    font-family: 'HBK','Arial','sans-serif'!important;}
.text-SEGURANÇA p{font-size:23px; margin-top:30px;    font-family: 'HR','Arial','sans-serif'!important;}
.btn-bot{padding-left:35px!important; padding-right:35px!important;}

/*end of Metodologia css*/


/*ops css*/
.ops{text-align: center;}
.ops h1{font-size:57px;font-weight:600;}
.ops p{font-size:23px;}

/*end of ops css*/



/*Trabalhe css*/
.ops{text-align: center;}
.ops h1{font-size:57px;font-weight:600; font-family: 'HBK','Arial','sans-serif'!important;}
.ops p{font-size:23px;     margin-bottom: 30px;}
.TRABALHE{padding-top:60px;}
.form-enver{text-align: center;}
.form-enver ::placeholder{text-align: center!important; text-transform:uppercase; font-size: 23px; color:#000;}
.form-enver input{background-color:#ededed; border:0px;     padding: 16px;    width: 33%; margin-bottom:20px;}


.select {
  display:flex;
  flex-direction: column;
  position:relative;
     width: 33%;
  height:40px;
  margin:auto!important;
}

.option {
  padding:8px 30px 0 10px;
  min-height:50px;
  font-size:23px; 
  font-weight: 100;
  align-items:center;
  background:#ededed;
  border-top:#ededed solid 1px;
  position:absolute;
  margin-bottom: 0px;
  top:0;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
  
}

.option:hover {
  background:#d3d0d0;
}

.select:focus .option {
  position:relative;
  pointer-events:all;
}

.select input {
  opacity:0;
  position:absolute;
  left:-99999px;
}

input:checked + label {
  order: 1;
  z-index:2;
  background:#ededed;
  border-top:none;
  position:relative;
}

input:checked + label:after {
  content:'';
  width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #000;
  position:absolute;
  right:10px;
  top:calc(50% - 6.5px);
  pointer-events:none;
  z-index:3;
}

input:checked + label:before {
  position:absolute;
  right:0;
  height: 40px;
  width: 40px;
  content: '';
  background:#ededed;
  top:0px;
}


.buttonever{text-align: center; margin-top:50px;}
.buttonever a{font-size: 24px; color:#ca5c08; text-decoration: underline;}
.buttonever a:hover{color:#ca5c08;     text-decoration: underline;}
.buttonever a:focus{color:#ca5c08; text-decoration:none;}
.buttonever img{margin-right: 15px;}
.btn-enver-btn{background-color:#ca5c08; font-size: 23px!important; font-weight: 600!important;
 padding: 10px 33px!important; color:#fff!important; border-radius:0px!important; margin-top: 40px;
font-family: 'HBK','Arial','sans-serif';}

/*end of Trabalhe css*/



/* Unidades css*/
.slider4 .slick-slide {height:210px!important; padding-bottom:30px;}
.slider5 .slick-slide {height:210px!important;padding-bottom:30px;}
.slider6 .slick-slide {height:210px!important;padding-bottom:30px;}

.slider4 .slick-slide img{display:inline-block; width:360px!important;}
.slider5 .slick-slide img{display:inline-block; width:360px!important;}
.slider6 .slick-slide img{display:inline-block;width:360px!important;}

.sliderhead input{background-color:#e4e4e4; border:0px; padding:10px 20px; border-radius:0px!important;}
.sliderhead input::placeholder{text-align: center; text-transform: uppercase;}

.container2{
  position: relative;
  width: 100%;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
 
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(182, 97, 32, 0.8);
}


.container2:hover .overlay {
  opacity: 1;
}

.container2 .text {
  color: white;
  font-size: 18px;
  position: absolute;
   font-weight: 600;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.map{background-color:#232424;     border-bottom: 2px solid #fff;}
.map-head{text-align: center;     padding-top: 50px; padding-bottom: 45px;}
.map-h1{text-align: center; padding-top:100px;}
.map-head h1{ text-transform: uppercase; color:#fff; font-size:57px; font-weight:600; font-family: 'HBK','Arial','sans-serif'!important;}
.map-h1 h1{ color:#fff; font-size:35px; font-weight:600;     text-transform: uppercase; text-align: center;     
	margin-bottom: 45px;     font-family: 'HBK','Arial','sans-serif'!important;}
.map-h1 .btn-arrow{background-color:transparent; border:3px solid#e85b01; color:#fff!important;   
  margin-bottom: 21px;     border-radius: 0px;     width: 50%;     position: relative;     padding: 10px ;
    font-size: 23px;}
.map-h1 .btn-arrow i{position: absolute; right:11px; }
.map-img img{width:100%;}
.map-bot{padding-top:60px;}
.loction .right{text-align:right;}
.loction p a{color:#fff; font-size:28px; }
.loction p a:hover{color:#fff; text-decoration:none;}
.loction p a:focus{color:#fff; text-decoration:none;}

/*end  of Unidades css*/


/* blog css*/
.bg-blog {background-image:url(../images/blog-banner.jpg); background-size: cover;
    background-repeat: no-repeat; padding-top:0px; position: relative;     height: 560px;}
.bg-blog:before{position: absolute;; top:0px; bottom:0px; left: 0px; right:0px;   
   background-image: linear-gradient(rgba(255, 255, 255, 0.12) , white); content:"";}
.bg-blog .navbar{    background-color: #fff;
    padding-top: 37px;
    padding-bottom: 50px;}
.blog-top{text-align: center; position: relative;top: -154px;}
.blog-top h1{font-size:51px;     margin-bottom: 40px;     font-weight: 600;    
 font-family: 'HBK','Arial','sans-serif'!important}
.blog-top  p{font-size:22px;     margin-bottom: 40px;     font-weight: 600;}
.blog-top  p span{color:#ca5c08;}
.blog-top .btn-blog{background-color:#e75c01;; color:#fff; font-weight:600; font-size:22px; border-radius:0px;
    padding: 6px 40px;     font-family: 'HBK','Arial','sans-serif';}
.blog-top .btn-blog:hover{color:#fff;}
.blog-top .btn-blog:focus{color:#fff;}
.border-bott-blog{padding-left:0px!important;}
.blog-top:before{    content: "";
    position: absolute;
    bottom: -70px;
    border-bottom: 2px solid#ca5c08;
       width: 70%;
    left: 0px;
    right: 0px;}

.input-box{padding-bottom:50px;}
.blog-list{text-align: center;     margin-top:20px;}
.blog-list h4{font-size:30px;     font-weight: 600;}

.blog-list p {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;}
.blog-list p span {
    color: #e75c00;
    margin-left:15px;}
.blog-pdd .pagination1{margin-top:10px;}
.blog-p{padding-top:50px; padding-bottom:20px;}
.new-letter{background-color:#343434; text-align: center;    color: #ffff;}
.new-letter h1{font-size:44px; font-weight:600;     margin-top: 0px;margin-bottom: 50px;}
.nwe-input{text-align: center;}
.nwe-input input{width:100%;     text-align: center; background-color:#454545; border:0px; border-radius:0px;  
   padding: 10px;     margin-top: 5px;}
.nwe-button{text-align:left;}
.nwe-button button{width:100%;}
.nwe-button .btn-sutdio{background-color:#ca5c08; border-radius:0px; font-size:19px;font-weight:600;padding:10px;}
.nwe-button .btn-sutdio:hover{color:#fff;}
.youtube1 {
    background-color: #3c3c3c;
    border-bottom: 2px solid#fff;
}
.nwe-button .btn-sutdio:focus{color:#fff;}
.blog-row{padding-bottom:100px; padding-left: 10%;padding-right: 10%; }
.main-div-video{background-color:#3c3c3c;     border-bottom: 2px solid#fff;}
.main-flud{padding:0px!important;}
.sidebar-img{text-align: center;  width: 50%;
    margin: auto;}
.side-img img{width:100%;     margin-bottom: 22px;
    margin-top: 30px;}
.sidebar-img img{width:100%;}
/*end of  blog css*/


/* blog-postcss*/
.bg-blog-post{background-image:url( ../images/blog-post.jpg);     height: 755px;
    background-repeat: no-repeat;
    background-size: cover; padding-top:0px;}
.bg-blog-post .navbar {
    background-color: #fff;
       padding-top: 37px;
    padding-bottom: 30px
}
.blog-post1 p{font-size: 22px;
    margin-bottom: 40px;
    font-weight: 600; color:#000!important;}
.blog-post1 h1{    font-size: 51px;
    margin-bottom: 40px;
    font-weight: 600;     font-family: 'HBK','Arial','sans-serif'!important; }
.blog-post1 p span {
    color: #ca5c08;
}
.blog-post1{text-align: center;  }
.blog-post p{font-size:22px; color:#919191;  margin-bottom: 41px;}
.img-post img{width:70%;     margin-bottom: 31px;}
.img-post{margin-top:53px;}
.img-post .btn-post{background-color:transparent; border:4px solid#a9a9a9;    color: #a9a9a9!important; border-radius:0px;
    padding: 6px 40px!important; font-size: 23px;}
.comments{padding-top: 0px;}
.comments-h1 h1{font-size:25px;color:#5a5a5a;}
.comments-h1 h2{text-align:right; font-size:23px; color:#868686;}
.comments-h1 h2 select{border:2px solid #545454;}
.comments-bor{position:relative; }
.comments-bor:before{content:""; position: absolute;bottom:0px; border-bottom:2px solid #868686; width:98%;
    left: 15px;}
.img-comment img{width:100%;     height:60px;}
.img-comment input{width:100%;  padding: 11px; font-size:23px;}
.comments-top{margin-top:40px;}
.preft{padding-top:30px;}
.img-comment h4{margin-top: 0px; color:#545454;     font-weight: 600;     margin-bottom: 3px;     font-size: 23px;}
.img-comment p{font-size:23px;     margin-bottom: 0px;}
.img-comment ul{padding:0px; list-style: none; margin-top:0px;}
.img-comment ul li{display: inline-block; margin-left: 7px;}
.img-comment ul li a{font-size:20px; color:#777777;}
.img-comment ul li a:hover{text-decoration:none;}
.img-comment ul li a i{color:#567ab7;}
.img-comment .active{margin-left:0px;}
.preft1{ padding-top: 30px;    padding-left: 59px;}
.border-bottom-post{border-top:3px solid #9e9e9e; margin-top: 81px;}
.main-post{padding-top:0px; position: relative;     margin-bottom: 67px;}
.main-post:before{position: absolute; content: ""; bottom: 0px; border-bottom:2px solid #e75c01; width: 37%;}
.main-post h2{
    font-size: 45px!important;
    margin-bottom: 40px;
    font-weight: 600;     font-family: 'HBK','Arial','sans-serif'!important;}

.footer-row{padding-bottom:100px;}
.nn1{display: none;}
.footer-haed{text-align: left;}

/*video slider*/
#video_player {
     width: 90%;
  line-height: 0;
  font-size: 0;
  background: #000;
  margin:auto;
}
#video_player video,
  #video_player figcaption {
    display:-webkit-box;
    vertical-align: top;
}
#video_player figcaption {
  width: 33.33333333%;
}
#video_player figcaption a {
  display: block;
  opacity: .5;
  transition: 1s opacity;
}
#video_player figcaption a img,
  figure video {
    width: 100%;
    height: auto;
}
#video_player figcaption a:hover {
  opacity: 1;}
/*end of blog-postcss*/



/*Studio css*/
.bg-sudio{background-image: url(../images/back-sudio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;     height: 759px;}
.bg-sudio:before{content: ""; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px; 
background-color: rgba(255, 255, 255, 0.79);}
.img-slider .slick-next:before{color:#fff!important;}
.text-sudeo{text-align:center;     padding-top: 100px;}
.text-sudeo h1{font-size:60px; font-weight:600;     font-family: 'HBK','Arial','sans-serif'!important;}
.text-sudeo h3{font-size:25px;}
.img-slider .slick-slide{height:559px!important}
.sliderhead2{margin-top:-229px;}
.img-slider .slick-prev:before, .slick-next:before{color:#fff!important;}
.mainslider{text-align:left;}
.mainslider .main-ul{text-align: left;}
.mainslider .main-ul .active{margin-left:0px;}
.mainslider .main-ul li p{text-align: center;}
.mainslider ul{padding: 0px;}
.button-box .btn-btn6{background-color:#4daea9; color: #fff;
    font-size: 19px;
    font-weight: 600;
    padding: 10px 60px;     margin-bottom: 20px;    border-radius: 0px;}
.button-box .btn-btn6:hover{color:#fff;}
.button-box .btn-btn6:focus{color:#fff;}

    .button-box .btn-btn7{background-color:#4daea9; color: #fff;
    font-size: 19px;
    font-weight: 600;
       padding: 4px 77px;    margin-bottom: 20px;     border-radius: 0px;}
.button-box .btn-btn7:hover{color:#fff;}
.button-box .btn-btn7:focus{color:#fff;}
.buton-right{text-align:right;}
.buton-right .btn-btn8{font-size:23px; background-color:#ca5c08; color:#fff;     padding: 10px 25px;
    border-radius: 0px; margin-top: 36px;     font-family: 'HBK','Arial','sans-serif';}
.buton-right .btn-btn8:hover{color:#fff;}
.buton-right .btn-btn8:focus{color:#fff;}
.sliderhead2{padding-bottom:60px;}
.video4{text-align: center;}
.head9{text-align: center;}
.head9 h2{font-size:57px; font-weight: 600; text-transform: uppercase; margin-bottom: 60px;
    font-family: 'HBK','Arial','sans-serif'!important;}
.star{padding-top:30px; padding-bottom:30px;}
.star1{text-align: center;}
.star1 a{color:#353535; font-size:80px;}
.star1 a:hover{color:#353535; font-size:80px;}
.star1 p{font-size: 21px;}
.slider-slig .slick-slide{height:410px!important; text-align: center;}
.slider-slig .slick-slide img{display: inline-block!important;}
.slider-slig  .slick-prev:before, .slick-next:before{color:#000!important;}
.slider-slig  .slick-prev{left: -30px;}
.slider-slig .slick-next{right:-24px!important;}
.pagesbottom{position:relative;}
.pagesbottom ul{ position: absolute; width:100%;top:300px; }
/* end of Studio css*/




/* Modal Menu Button
----------------------------- */

.modal-menu-button {
 
  width: 73px;
       height: 163px;
  background: transparent;
  border: 0;
  z-index: 10;
  cursor: pointer;
   background-color:#393939;
  position: fixed;
  padding: 22.5px;
  top: 0;
  right: 0;
    
  transition: .3s;
}

.modal-menu-button:focus {
  outline: 0;
}



.modal-menu-button:hover span {
  background:#000;
  
}

.hamburger {
  width: 100%;
  height: 100%;
  position: relative;
  top: 21px;
}

.modal-menu-button span {
  display: block;
  width: 100%;
  height: 4px;
  background: #000;
  margin: 0 0 5px 0;
  transition: all 0.2s ease-in-out;
  position: absolute;
}

.modal-menu-button span:first-child {
  top: 2px;
  left: 0;
}

.modal-menu-button span:nth-child(2) {
  top: 10px;
  left: 0;
}

.modal-menu-button span:last-child {
  top: 18px;
  left: 0;
}

.modal-menu-button.on {
  position: fixed;
  right:0;
   background-color:#393939!important;
}

.modal-menu-button.on span {
  background: #fff;
}

.modal-menu-button.on span:first-child {
  transform: rotate(45deg);
  top: 10px;
}

.modal-menu-button.on span:nth-child(2) {
  transform: rotate(-45deg);
  top: 10px;
}

.modal-menu-button.on span:last-child {
  transform: rotate(45deg);
  top: 10px;
}
 
/* Modal Nav Background
----------------------------- */

.modal-nav-background {
  background-color:#393939;
  position: fixed;

      top: 36px;
    bottom: 0;
    left: 90px;
  right:0;
  opacity:0;
  width:0;
  height:0;
  transition: opacity .3s ease-in-out, width 0s 2s, height 0s 2s;
  text-align: center;
  z-index:4;
}

.modal-nav-background.on {
         opacity:8;
           height: 311px;
    width: 100%;
  transition: opacity .1s 0s ease-in-out;
}



/* Modal Nav
----------------------------- */

.modal-nav {
  position: fixed;
  width:0;
  height:0;
  top: 193px;
  left:0;
  right: -37px;
  bottom:0;
  opacity:0;
  transition: opacity .2s ease-in-out, width 0s 2s, height 0s 2s;
  text-align: center;
  z-index:5;
 
}

.modal-nav.on {
  opacity:1;
  width: 100%;
  transition: opacity .2s .1s ease-in-out;
}



.modal-nav nav {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}




.modal-nav-container {
  display: table-cell;
  vertical-align: middle;
  z-index: 5;
}






/* Modal Menu
----------------------------- */
  
ul.modal-nav-main-menu {
  color:#fff;
  list-style: none;
  padding:0;
  text-align: right;
      width: 93%;
}

.modal-nav a {
  color:#fff;
  text-transform: capitalize;
  font-size:20;
  font-weight: 600;
 
  padding: .35em 1em;
  text-decoration: none;
  display: inline-block;
/*   width: 100%; */
  box-sizing: border-box;
  transition: opacity .3s;
/*   border: 1px solid #eee; */

}
.ops-height{padding-top:60px; padding-bottom:80px;}
.modal-nav a:hover {
   color:#e75c01;
   text-decoration: none;
}

.modal-nav .current-menu-item a{
  color: rgba(255,255,255,.4);
}

.dest-height{height: 911px!important;}

.input-file{display:none!important;}
.input-file-trigger:focus{outline:0px!important;}
.input-file-trigger{cursor:pointer!important; font-size:20px;}

/* styles de base si JS est activé */
.js .input-file-container {
  position: relative;
  width:100%;
  text-align: center;
}
.js .input-file-trigger {
font-family: 'HBK','Arial','sans-serif';
  color: #ca5c08;
  font-size: 23px;
  transition: all .4s;
  cursor: pointer;
  border-radius: 10px;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}
.js .input-file-trigger:focus{outline:0px!important;}
}
 
/* styles du retour visuel */
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}

.credit
{
  border: 1px solid #ddd;
  padding : 2px;
  width: 410px;
  background: #eee;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}


 #map {
        height: 100%;
      }


/*progessbar slider css*/

   .slider-wrapper {
  width:100%;
}
.normalslider h3{color:#fff; font-family: 'HBK','Arial','sans-serif'!important;
    line-height: 33px;}


#slick-1 .slick-dots li {
  width: 40px;
  height: 5px;
  background: #ccc;
}
#slick-1 .slick-dots li button {
  width: 40px;
  height: 5px;
}
#slick-1 .slick-dots li.slick-active,
#slick-1 .slick-dots li:hover {
  background: #777;
}
#slick-1 .slick-dots li button, 
#slick-1 .slick-dots li button:before {
  color: transparent;
  opacity: 0;
}

/* progress bar */
.slider-progress {
  width: 100%;
  height: 4px;
  background: #eee;
}
.slider-progress .progress {
  width: 0%;
  height: 4px;
  background:#e75c01;
}
.slider-wrapper .slick-next{display:none!important;}
.slider-wrapper .slick-prev{display:none!important;}
.slider-wrapper .slick-initialized .slick-slide:focus{outline:0px;}
/*end of progessbar slider css*/






.foot {
  position: fixed;
  width: 100%;
  height: 112px;
  bottom: -121px;
  padding: 20px 0;
  box-shadow: 0 -2px 0 0 rgba(255, 255, 255, 0.2);
  font-size: 36px;
   transition: 0.4s;
   animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;
  background:#2b2b2b;
      z-index: 9999999999999;
}
.foot .footclose {
  position: absolute;
  right: 15px;
  top:13px;
  font-size:45px;
  font-weight: light;
  text-decoration: none;
  color:#e95c00;
  transition: all .3s;
}
.foot .footclose:hover {
  color:#e95c00;
}
.foot .footclose:active {
  color:#e95c00;
}

.scrolled {
  bottom:0px;
}

.gone {
  transition: all 300;
  opacity: 0;
}


.bg-color{background-color:#2b2b2b; padding: 15px;}
.close1 a{color:#e75c01; font-size:45px;}

.map1 iframe{filter:grayscale(100%)!important; border:0px!important; z-index:-1!important; }



